.eg-disclaimer-popup {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9;
}

.eg-disclaimer-overlay {
    background: #00000033;
    backdrop-filter: blur(4px);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.eg-disclaimer-content {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #FFFFFF;
    padding: 20px;
    border-radius: 10px;
    max-width: 525px;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid var(----ui-light-border, #CFCFCF);
    z-index: 99;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.eg-disclaimer-header {
    padding-bottom: 32px;
}

.eg-disclaimer-header h2 {
    font-family: "Open Sans Semibold", arial, sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0;
    text-align: center;
    color: var(----text-primary, #333D47); 
    margin-bottom: 8px; 
    margin-top: 0;
}

.eg-disclaimer-header p {
    font-family: "Open Sans", arial, sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0;
    text-align: center;    
    color: var(----text-secondary, #5F6A72);
    margin-bottom: 0;
    margin-top: 0;
}

.eg-disclaimer-buttons {
    width: 100%;
    display: flex;
    grid-gap: 8px;
}

.eg-disclaimer-buttons .eg-disclaimer-btn {
    width: calc(50% - 4px);
    padding: 12px 16px;
    border-radius: 4px;
    font-family: "Open Sans", arial, sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 21.79px;
    letter-spacing: 0;
    color: var(----text-primary, #333D47);
    background: transparent;
    border: 1px solid var(----interactive-form, #0093C9);
}

.eg-disclaimer-buttons .eg-proceed {
    color: #FFFFFF;
    background: var(----interactive-form, #0093C9);
}

.eg-disclaimer-buttons .eg-go-back:hover {
    color: #FFFFFF;
    background: var(----interactive-form, #0093C9);
}

.eg-disclaimer-buttons .eg-proceed:hover {
    background: var(--efx-shadow-blue);
    color: #fff;
}

.eg-disclaimer-image {
    width: 75px;
    height: 76px;
}

.eg-disclaimer-image img {
    width: 100%;
    height: 100%;
}

.eg-disclaimer-close {
    position: absolute;
    right: 4px;
    top: 4px;
    cursor: pointer;
}

@media screen and (max-width: 590px) {
    .eg-disclaimer-buttons {
        flex-direction: column-reverse;
    }

    .eg-disclaimer-buttons .eg-disclaimer-btn {
        width: 100%;
    }

    .eg-disclaimer-content {
        max-width: 345px;
    }
}